---
- name: "Load a variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"

- name: "Choose platform based task"
  include_tasks: "{{ platform }}"
  with_first_found:
    - "system/{{ ansible_os_family }}.yml"
    - "system/not-supported.yml"
  loop_control:
    loop_var: platform

- name: "SSL preparation"
  include_tasks: "{{ platform }}"
  with_first_found:
    - "ssl/{{ ansible_os_family }}.yml"
    - "system/not-supported.yml"
  loop_control:
    loop_var: platform
  when:
    - solr_ssl_configure
    - solr_ssl_key_store is defined
    - not solr_service_status

- name: "Solr configuration"
  include_tasks: "{{ platform }}"
  with_first_found:
    - "configuration/{{ ansible_os_family }}.yml"
    - "system/not-supported.yml"
  loop_control:
    loop_var: platform
  when: not solr_service_status
