---
- name: "Check if Solr Service Exists"
  win_command: "sc query {{ solr_service_name }}"
  register: solr_service_stat
  ignore_errors: True

- name: "Set solr service status"
  set_fact:
    solr_service_status: "{{ solr_service_stat.rc == 0 }}"

- name: "Download solr {{ solr_version }}"
  win_get_url:
    url: "{{ solr_distr_url }}"
    dest: "{{ solr_win_temp_dir }}\\{{ solr_version }}.zip"
    force: False
  when: not solr_service_status

- name: "Unzip solr {{ solr_version }}"
  win_unzip:
    src: "{{ solr_win_temp_dir }}\\{{ solr_version }}.zip"
    dest: "{{ dest_main_path }}"
    creates: "{{ dest_solr_path }}"
  when: not solr_service_status

- name: "Set solr firewall rule"
  win_firewall_rule:
    name: "{{ solr_service_name }}"
    localport: "{{ solr_port }}"
    action: allow
    direction: in
    protocol: tcp
    state: present
    enabled: True
  when: not solr_service_status
